.inputMain {
	display: flex;
}

.inputContainer {
	display: flex;
	align-items: center;
	width: 100%;
	height: 1rem;
}

.cursor {
    position: relative;
	width: 1ch;
	height: 1rem;
	background-color: var(--color-1);
}
.blink{
	animation: blink 1s infinite cubic-bezier(0, 0, 0, 1);
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
