.pastweek {
	scroll-snap-align: start;
}

/* -------- Row.jsx -------- */

.pw-main {
	height: 140px;
	margin: 0px 50px;
    padding-bottom: 30px;
    display: flex;



}

.date-div {
	display: flex;
	flex-grow: 0;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;

    margin-right: 20px;
}

.date-pw {
    display: flex;
    flex-grow: 1;
	writing-mode: vertical-lr;
	text-orientation: mixed;
	font-size: 0.5rem;
    height: 10px;
    margin: 10px 0px;
    font-weight: 900;
}

.date-div-pw {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	width: 3px;
	/* height: 100%; */
	background-color: var(--color-1);
}


.row-box {
	height: 140px;
	width: 220px;
	border: 3px solid var(--color-1);
    text-wrap: stable;
    padding: 0px 10px;
    /* word-break: break-all; */
}
